h1, {
	font-weight: bold;
}

input {
	text-align: center;
}

.panel-heading {
	padding-bottom: 0px;
}

ol li li {
	list-style-type:upper-alpha;
}

.btn {
	margin:0px;
}

div.well {
	margin:8px;
	font-family:"courier";
}

span.space {
	margin-left: 1em;
	background-color: transparent;
}

span.indent {
	margin-left: 2em;
	background-color: transparent;
}

span.longspace {
	margin-left: 8em;
	background-color: transparent;
}

span#var-what-global:hover, span#var-global-global:hover, span#var-local-global1:hover, span#var-local-global:hover, span#var-local-arg-global:hover, span#var-local-copies-global:hover, span#var-local-hoisting1-global:hover, span#var-local-hoisting2-global:hover, span#var-local-block-true:hover, span#var-local-block-false:hover {
	font-weight: bold;
	color:#00FFFF; /* cyan */
}

span#var-what-arg:hover, span#var-local-local:hover, span#var-local-arg-arg:hover, span#var-local-copies-arg:hover {
	font-weight: bold;
	color:#FF00FF; /* magenta */
}

span#var-what-local:hover, span#var-local-global2:hover {
	font-weight: bold;
	color:#E5BF00; /* off-yellow */
}

input.valueCheck {
	width:90px;
}

#try input {
	width:120px;
}

.cyan {
	background-color:#00FFFF; /* cyan */
}

.magenta {
	background-color:#FF00FF; /* magenta */
}

.yellow {
	background-color:#E5BF00; /* off-yellow */
}

.red {
	background-color:#FF0000; /* red */
}

.green {
	background-color:#00FF00; /* green */
}

.blue {
	background-color:#0000FF; /* blue */
}

.feedback {
	padding:8px;
}

.msg-success {
	color:#00A80B; /* medium-dark green */
}

.msg-error {
	color:#FF0000; /* red */
}